{% extends 'base.html.twig' %}

{% block title %}Vos Avis
{% endblock %}

{% block extra_stylesheets %}
    <header>
        <link rel="stylesheet" href="{{ asset('css/star-rating.css') }}">
    </header>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-2 offset-lg-1 offset-md-1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Vos avis</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-4">
            <div class="col-lg-8 offset-lg-2 mb-5 review-form">
                <h1 class="text-center">Déposer un avis</h1>
                {{ form_start(review_form) }}
                {{ form_row(review_form._token) }}
                <div class="mb-2 mt-5">
                    {{ form_label(review_form.name, null, { 'label_attr': { 'class': 'form-label' }}) }}
                    {{ form_widget(review_form.name, {'attr': { 'class': 'form-control'}}) }}
                    {{ form_errors(review_form.name ) }}
                </div>
                <div class="mb-2">
                    {{ form_label(review_form.comment, null, { 'label_attr': { 'class': 'form-label' }}) }}
                    {{ form_widget(review_form.comment, { 'attr': { 'class': 'form-control' }}) }}
                    {{ form_errors(review_form.comment ) }}
                </div>
                <div class="mb-2 form-note d-flex justify-content-center">
                    <div class="star-rating">
                        {% for i in 1..5 %}
                            <input id="{{ review_form.note.vars.id }}_{{ i }}" type="radio"
                                   name="{{ review_form.note.vars.full_name }}" value="{{ i }}"
                                   class="star-rating__input">
                            <label for="{{ review_form.note.vars.id }}_{{ i }}"
                                   class="star-rating__star">&#9733;</label>
                        {% endfor %}
                    </div>
                </div>
                {% if form_errors(review_form.note) %}
                    <div class="mt-1 alert alert-danger text-center error-message">
                        {{ review_form.note.vars.errors[0].message }}
                    </div>
                {% endif %}
                <div class="mt-3 review-btn">{{ form_widget(review_form.submit, { 'attr': {'class': 'btn btn-danger mt-1', 'id': 'review-btn'} }) }}</div>
                {{ form_end(review_form, {'render_rest': false}) }}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success mt-3 text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="row mt-2">
            <div class="col-lg-8 offset-lg-2 d-flex justify-content-center flex-wrap">
                <div class="mb-4">
                    <h2 class="text-center">Les avis de nos clients</h2>
                </div>
                {% if reviews|length > 0 %}
                {% for review in reviews %}
                    <div class="card m-5 text-center">
                        <h3 class="mt-3">{{ review.name }}</h3>
                        <div class="card-body">
                            {% for i in 1..5 %}
                                {% if i <= review.note %}
                                    <span class="star-rating__star" id="star">&#9733;</span>
                                    <!-- Etoile remplie -->
                                {% else %}
                                    <span class="star-rating__star" id="star">&#9734;</span>
                                    <!-- Etoile vide -->
                                {% endif %}
                            {% endfor %}
                            {% if review.comment %}
                                <p class="mt-3">{{ review.comment }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="card m-5 text-center d-flex justify-content-center col-lg-12">
                        <div class="card-body">
                            <h3>Soyez le premier à publier un avis !</h3>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Retour en haut de page</button>
    </div>
    <script src="{{ asset('js/topButton.js') }}"></script>
    <script src="{{ asset('js/star-rating.js') }}"></script>
{% endblock %}

